/*
 * Stylesheet for the chat tab (dark theme)
 *
 * Please put dark overrides here
 */

/* Button Box */
div#button-box {
   background: DimGrey;
   border: 2px solid #c0c0c0;
}

#upload-btn, #clear-btn, #send-btn, #emoji-btn, #bell-btn {
   background: SlateGrey;
}

span#alert-vol { }

.chat-msg-prefix, .chat-my-msg-prefix { 
   font-size: 16px;
}

.cul-self, .cul-other {
   font-weight: bold;
   margin-right: 8px;
}

.chat-my-msg-prefix, .cul-self {
   color: NavajoWhite;
}

.chat-msg-prefix, .cul-other {
   color: PaleTurquoise; 
}

a.other-link:hover, a.other-link:hover, a.other-link:visited, a.other-link:active {
   color: PaleTurquoise;
}

a.my-link:hover, a.my-link:hover, a.my-link:visited, a.my-link:active {
  color: NavajoWhite;
}

div.chat-user-list {
   background-color: #0f0f0f;
}
