/*
 * Stuff for small screened devices
 */
@media (max-width: 768px) {
   html {
      transform: scale(calc(100vw / 768)); /* Dynamically scale based on viewport width */
      height: CALC(100vh - 3em);
   }

   #tab-strip {
      display: flex;
      height: 1.5em;
   }

   span#menu-tabs {
      top: 0;
      left: 0;
   }

   div#win-rig {
     height: CALC(100vh - 4em);
     width: CALC(100% - 10.2em);
   }

   #win-chat {
      padding: 0px;
      height: CALC(100vh - 4em);
      border: 2px dotted pink;
   }

   span.menu-tab {
      border: 2px solid #0a0a0a;
      background: #c0c0c0;
      color: black;
      font-size: 1em;
      font-weight: bold;
      height: 2em;
      line-height: 1.3em;
      top: 0;
      padding-left: 0.5em;
      padding-right: 0.5em;
   }

   span.menu-tab:hover {
   }

   #tbl-login {
      height: 100%;
      padding: 2em;
      width: 100%;
   }

   #win-login {
      border: 2px dashed darkorange;
      top: 0em;
      left: 0em;
      height: CALC(100vh - 0.5em);
      width: CALC(100vw - 0.5em);
      overflow: hidden;
   }

   #win-syslog {
      height: CALC(100vh - 5.5em);
   }

   #chat-input {
      left: 0em;
      bottom: 4.5em;
      width: CALC(100% - 2.7em);
   }

   div#button-box {
      text-align: center;
      left: 0em;
      bottom: 0em;
   }

   #chat-whois {
      top: 0px;
      left: 0px;
      padding: 1.5em;
      border: 1px solid MidnightBlue;
      border-radius: 10px;
      height: CALC(100% - 0.4em);
      width: CALC(100% - 2.4em);
   }

   #chat-container {
      height: CALC(100vh - 0.8em);
   }

   div#cul-list-rig {
      position: absolute;
      top: 3.5em;
      right: 0em;
   }

   div#cul-list-chat {
      position: absolute;
      top: 0em;
      height: 100%;
      z-index: 99999;
   }

   div.chat-user-list {
      position: absolute;
      top: 0.5em;
      right: 0em;
      height: auto;
      width: 10em;
      height: CALC(100% - 13.5em);
   }

   div#chat-user-list-rig {
      top: 4.2em;
      right: 0em;
      height: CALC(100% - 12.5em);
      border: 1px solid grey;
      width: 13em;
   }

   #chat-box {
      height: CALC(100% - 17.8em);
      width: calc(100% - 14.5em);
      position: fixed;
      top: 5em;
      padding-bottom: 1em;
   }

   #upper-wrapper {
/*      border: 2px dashed darkorange; */
      height: CALC(100% - 8em);
   }

   #lower-wrapper {
/*      border: 2px dashed LawnGreen; */
      position: absolute;
      bottom: 0em;
      left: 0em;
      height: 8em;
      width: CALC(100% - 0.3em);
   }

   div#sub-login-error {
      top: 0em;
      left: 0em;
      height: CALC(100vh - 2.5em);
      width: CALC(100vw - 2.5em);
   }

   span#sub-login-error-msg {
      position: absolute;
      top: 10%;
      left: 10%;
      height: 80%;
      width: 80%;
   }

   button#login-err-ok {
      position: absolute;
      bottom: 2em;
   }

   #upload-btn, #clear-btn, #send-btn, #emoji-btn, #bell-btn {
      padding-left: 1em;
      padding-right: 1em;
      margin-left: 0.5em;
      margin-right: 0.5em;
   }

   #user-menu {
      width: 9em;
      font-size: 1.2em;
      padding: 0.2em;
   }

   #user-menu h4 {
      padding: 0em;
      margin: 0em;
   }

   #user-menu ul {
      padding-left: 0.2em;
   }

   #user-menu li {
      padding-bottom: 0.2em;
   }
   div#rig-right div.chat-user-list {
      height: CALC(100% - 2em);
   }
   #chat-rig-status {
      bottom: 2.4em;
      width: CALC(100% - 1em);
      left: 0px;
      font-size: 1.2em;
   }
   span#chat-ptt-wrap {
      position: absolute;
      top: 0.1em;
      right: -0.8em;
   }
   button#chat-ptt {
      height: 1em;
   }

}
