/*
 * Styling for the rig interface, in dark mode.
 *
 * This is broken out into it's own file so that we can use @import() later
 * support switching rig themes
 *
 * Only shared things should be added to this main CSS
 * Place dark-mode overrides here for best results
 */
#rig-vfos {
/*
   background: DarkSlateGrey;
   border: 1px dashed Indigo;
   */
}

.vfo-box {
   background: MidnightBlue !important;
}

.active-vfo {
   border: 2px solid DarkSalmon !important;
}

.active-vfo h4 {
   background: DarkRed !important;
}

#vfo-a h4, #vfo-b h4, #vfo-c h4 {
   background: Indigo;
}

#vfo-a { border: 1px solid DarkTurquoise; }
#vfo-b { border: 1px solid DarkTurquoise; }
#vfo-c { border: 1px solid DarkTurquoise; }

#rig-memory {
   background: DimGrey;
}

.vfo-box {
   background: #0c0c0c;
}

.digit-container {
   background: MidnightBlue;
}

.digit {
   background: MidnightBlue;
}

.digit button {
   color: Aquamarine;
   background: DarkSlateGray;
}

.digit .value {
   background: MidnightBlue;
   color: MintCream;
}

.digit-spacer {
   background: red;
}

#edit-vfo-freq, #edit-vfo-mode, #edit-vfo-width {
}

#edit-vfo-mode select {
   background: #c0c0c0;
   border: 2px solid DarkSlateGrey;
}

#edit-vfo-width, #edit-vfo-power {
   font-size: 1.8em;
   background: SlateGrey;
/*   border: 2px solid DarkSlateGrey; */
   border-radius: 10px;
}


#vfo-a-freq, #vfo-a-mode, #vfo-a-width, #vfo-a-power {
   color: MintCream;
   font-family: lcd;
   font-size: 1.0em;
}

#vfo-b-freq, #vfo-b-mode, #vfo-b-width, #vfo-b-power {
   color: SpringGreen;
   font-family: lcd;
   font-size: 1.0em;
}

#vfo-c-freq, #vfo-c-mode, #vfo-c-width, #vfo-c-power {
   color: DarkOrange;
   font-family: lcd;
   font-size: 1.0em;
}

.vfo-changed {
   color: Yellow !important;
}
div#rig-right div.chat-user-list {
   background-color: #0f0f0f;
}
