/*
 * Styling for the rig interface.
 *
 * This is broken out into it's own file so that we can use @import() later
 * support switching rig themes
 *
 * Only shared things should be added to this main CSS
 * Place dark-mode overrides in css/rigctl-dark.css for best results
 */
#win-rig {
   display: none;
   overflow: auto;
   border: 2px solid pink;
   border-radius-bottom: 10px;
   position: fixed;
   top: 3.7em;
   height: CALC(100% - 4em);
   width: CALC(100% - 1em);
   position: absolute;
   left: 0em;
   user-select: text;
   -webkit-user-select: text;
   -moz-user-select: text;
   -ms-user-select: text;
   display: none;
   flex-direction: column;
}

#rig-vfos {
/*   background: MintCream; */
}

#rig-vfos {
   display: flex;
   margin-top: 0px;
   width: 100%;
   border-radius: 10px;
}

.vfo-box {
   background: AntiqueWhite;
   margin-top: 0px;
   margin-left: 0.25em;
   margin-right: 0.25em;
}

#vfo-a, #vfo-b, #vfo-c {
   font-size: 0.8em;
   placement: relative;
   top: 0.5em;
   left: 0.5em;
   width: 25em;
   border-bottom-right-radius: 10px;
}

#vfo-a h4, #vfo-b h4, #vfo-c h4 {
   color: white;
   background: LightSeaGreen;
   text-align: center;
   font-weight: bold;
   border-bottom: 1px solid red;
   border-radius: 5px;
   padding: 0px;
   margin: 0px;
   width: 100%;
   margin-top: 0.1em;
   margin-bottom: 1em;
}

#vfo-a { border: 1px solid SpringGreen; }
#vfo-b { border: 1px solid SpringGreen; }
#vfo-c { border: 1px solid SpringGreen; }

#vfo-a-freq, #vfo-b-freq, #vfo-c-freq {
   font-size: 1.0em;
   font-weight: bold;
   padding-left: 2em;
   padding-right: 1em;
}

#vfo-a-mode, #vfo-b-mode, #vfo-c-mode {
   font-size: 1.0em;
   font-weight: bold;
   padding-left: 1em;
   padding-right: 1em;
}

#vfo-a-width, #vfo-b-width, #vfo-c-width {
   font-size: 1.0em;
   font-weight: bold;
   padding-left: 1em;
   padding-right: 1em;
}

#vfo-a-power, #vfo-b-power, #vfo-c-power {
   font-size: 1.0em;
   font-weight: bold;
   padding-left: 1em;
   padding-right: 1em;
}

#vfo-a-freq, #vfo-a-mode, #vfo-a-width, #vfo-a-power {
   color: Navy;
   font-family: lcd;
   font-size: 1.0em;
}

#vfo-b-freq, #vfo-b-mode, #vfo-b-width, #vfo-b-power {
   color: SpringGreen;
   font-family: lcd;
   font-size: 1.0em;
}

#vfo-c-freq, #vfo-c-mode, #vfo-c-width, #vfo-c-power {
   color: DarkOrange;
   font-family: lcd;
   font-size: 1.0em;
}

.active-vfo {  
   border: 3px solid DarkOrange !important;
}

#rig-controls {
   position: absolute;
   resize: none;
/*   border: 1px solid DarkOrange; */
   width: CALC(100% - 1em);
   position: relative;
   height: 100%;
}

#rig-upper-split {
   background: #0f0f0f;
   border: 1px dashed DarkTurquoise;
   display: flex;
   overflow: hidden;
   min-height: 0%;
   max-height: 50%;
   height: 30%;
}

#rig-lower-split {
   display: flex;
   overflow: hidden;
   border: 1px dashed SpringGreen;
   min-height: 0%;
   max-height: 50%;
   height: 30%;
}

#rig-memory {
   background: Honeydew;
   left: 0em;
   bottom: 0em;
   margin: 0px;
   padding: 0.1em;
   position: absolute;
   border: 1px solid green;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
   border-radius: 10px;
   max-height: 95%;
   height: 30%;
   width: CALC(100vw - 0.6em);
}

.cfg-section {
   display: flex;
   border: 1px dashed lime;
   border-radius-bottom-right: 10px;
}

.cfg-section h4 {
   text-align: center;
}

/******************************/
.digit-container {
   display: inline-flex;
   font-family: monospace;
   background: AntiqueWhite;
   align-items: center;
   text-align: center;
   margin: 0px;
   padding: 0px;
}

.digit {
   background: AntiqueWhite;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 2px;
}

.digit button {
   color: Aquamarine;
   background: DarkSlateGray;
   font-size: 1.4em;
   width: 1.2em;
   padding: 0;
}

.digit .value {
   background: AntiqueWhite;
   color: Navy;
   text-align: center;
   font-family: lcd;
   font-size: 2.4em;
}

.digit-spacer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 1em;
   height: 100%;
   background: red;
   margin: 2px;
}

#edit-vfo-freq, #edit-vfo-mode, #edit-vfo-width, #edit-vfo-power {
/*   border: 2px solid red; */
   display: none;
}

#edit-vfo-width, #edit-vfo-power {
   font-size: 1.8em;
   background: AntiqueWhite;
   border-radius: 10px;
}

#edit-vfo-mode select {
   font-size: 1.8em;
   background: AntiqueWhite;
   border: 2px solid DarkSlateGrey;
   border-radius: 10px;
}

.vfo-changed {
   color: DarkOrange !important; }
}

div#rig-left {
   border: 2px solid green;
   position: fixed;
   top: 0em;
   left: 0em;
   max-width: 80%;
   height: CALC(100% - 10.5em);
   width: CALC(100% - 10em);
}

div#rig-right {
   border-radius: 10px;
   position: fixed;
   top: 3.6em;
   right: 1.2em;
   height: CALC(100% - 1em);
   padding: 0em;
   margin: 0em;
   width: 10em;
}

div#rig-right div.chat-user-list {
   position: fixed;
   background-color: #dcdcdc;
   height: CALC(100% - 5em);
}
