{
   "modules": {
      "atu": {
         "atu0": {
            "model": "atu5",
            "title": "HF ATU",
            "L": [ 10, 5, 2.5, 1.25, 0.59, 0.39, 0.22, 0.11 ],
            "C": [ 642, 320, 160, 82, 39, 20, 10, 5 ]
         }
      },
      "rfdecks": {
         "lowband": {
            "bands": [ "160M", "80M", "60M", "40M", "30M", "20M", "17M", "15M", "12M", "10M" ],
            "minpower": "5W",
            "maxpower": [ "500W", "500W", "500W", "600W", "600W", "600W", "600W", "600W", "600W", "600W" ],
            "powerstep": 10
         },
         "highband": {
            "bands": [ "6M", "2M", "1.25M", "70CM" ],
            "minpower": "5W",
            "maxpower": [ "100W", "100W", "100W", "100W" ],
            "powerstep": 10
         }
      }
   },
   "backend": {
      "active": "hamlib",
      "hamlib": "true",
      "hamlib_debug": "warn",
      "hamlib_model": 2,
      "hamlib_baud": 38400,
      "hamlib_port": "localhost:4532"
   },
   "build": {
      "cflags": "-fPIC -g",
      "ldflags": "-g",
      "platform": "posix",
      "toolchain": {
         "prefix": ""
      }
   },
   "cards": {
      "amp": {
         "model": "hf50",
         "name": "amp",
         "present": "false",
         "type": "i2c",
         "addr": "0x4a",
         "warmup-lockout": "false",
         "warmup-time": 300
      },
      "atu": {
         "model": "atu50",
         "name": "atu",
         "present": "true",
         "type": "i2c",
         "addr": "0x2a"
      }
   },
   "database": {
      "master": {
          "path": "./db/master.db",
          "template": "./sql/sqlite.master.sql"
      }
   },
   "debug": {
      "noisy_eeprom": "false",
      "logfile": "/tmp/radio-debug.log",
      "logtype": "file",
      "logmode": "0660",
      "loglevel": "debug",
      "mongoose": "false",
      "profiling": "true",
      "show_ts": "true",
      "targets": "*"
   },
   "dev": {
      "serial": "900001",
      "hwversion": 1
   },
   "eeprom": {
      "addr": "0x0000",
      "size": 1048576,
      "type": "mmap",
      "readonly": "false"
   },
   "features": {
      "alsa": "false",
      "auto_block_ptt": "false",
      "cat_kpa500": "true",
      "cat_yaesu": "true",
      "gstreamer": "true",
      "http": "true",
      "libunwind": "false",
      "max_bands": 14,
      "mqtt": "true",
      "opus": "false",
      "pipewire": "false",
      "sqlite": "true"
   },
   "limits": {
      "max_amps": 2,
      "max_atus": 4,
      "max_filters": 4,
      "rf_talk_timeout": 300
   },
   "i2c": {
   },
   "interface": {
      "amp": {
         "port": "pipe:/tmp/rustyradio.amp.socket",
         "enabled": "true"
      },
      "cat": {
         "port": "pipe:/tmp/rustyradio.cat.socket",
         "enabled": "true"
      },
      "console": {
         "enabled": "true",
         "type": "stdio"
      },
      "display": [
         {
            "enabled": "false",
            "hmi": "hmi/5in_nextion.hmi",
            "type": "nextion",
            "port": "/dev/ttyUSB.nextion"
         },
         {
            "name": "vfb0",
            "type": "vfb",
            "height": 480,
            "width": 640
         },
         {
            "name": "lcd0",
            "type": "lcd",
            "framebuffer": "vfb0"
         }
      ]
   },
   "net": {
      "bind": "0.0.0.0",
      "interface": "ether",
      "ip": "10.201.1.100",
      "gw": "10.201.1.1",
      "mask": "255.255.255.0",
      "dns1": "10.201.1.1",
      "dns2": "1.1.1.1",
      "mtu": 1500,
      "vlan": 1583,
      "http": {
         "enabled": "true",
         "bind": "0.0.0.0",
         "port": 8420,
         "authdb": "./config/http.users",
         "authdb_dynamic": "false",
         "404_path": "./www/404.shtml",
         "tls_enabled": "true",
         "tls_cert": "./config/cert.pem",
         "tls_port": 4420,
         "tls_key": "./config/key.pem",
         "www_root": "./www"
      },
      "mqtt": {
         "enabled": "true",
         "bind": "0.0.0.0",
         "port": 8833
      },
      "mqtt-client": {
         "enabled": "false",
         "server": "10.237.1.239",
         "port": 8833,
         "user": "rustyrig-ft891",
         "secret-file": "./config/mqtt-cli.secret"
      }
   },
   "owner": {
      "call": "N0CALL",
      "privs": "US/General"
   },
   "pin": {
      "show": 1,
      "master": "012345",
      "reset": "76543210"
   },
   "station": {
      "call": "N0CALL",
      "grid": "AA00aa"
   },
   "therm": {
      "encl_alarm": 120.0,
      "encl_max": 135.0,
      "encl_target": 95.0,
      "inlet_alarm": 120.0,
      "inlet_max": 120.0,
      "inlet_target": 110.0,
      "final_alarm": 170.0,
      "final_max": 185.0,
      "final_target": 135.0,
      "lpf_alarm": 125.0,
      "lpf_max": 130.0,
      "lpf_target": 125.0
   }
}
